<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.sss.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="cn.qdgxy.sss.po.Order">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="pid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="buy_price" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="buy_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, pid, uid, buy_price, buy_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.qdgxy.sss.po.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order (pid, uid, buy_price,
        buy_time)
        values (#{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{buyPrice,jdbcType=DOUBLE},
        #{buyTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="cn.qdgxy.sss.po.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                pid,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="buyPrice != null">
                buy_price,
            </if>
            <if test="buyTime != null">
                buy_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="buyPrice != null">
                #{buyPrice,jdbcType=DOUBLE},
            </if>
            <if test="buyTime != null">
                #{buyTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.sss.po.Order">
        update order
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="buyPrice != null">
                buy_price = #{buyPrice,jdbcType=DOUBLE},
            </if>
            <if test="buyTime != null">
                buy_time = #{buyTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.qdgxy.sss.po.Order">
    update order
    set pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      buy_price = #{buyPrice,jdbcType=DOUBLE},
      buy_time = #{buyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>