<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Question">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="problem" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="option_a" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="option_b" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="option_c" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="option_d" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="right_option" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="analysis" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="teach_link" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="cid" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, problem, image, option_a, option_b, option_c, option_d, right_option, analysis,
        teach_link, grade, create_time, modified_time, is_del, cid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from question
        where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cn.qdgxy.tr.po.Question">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into question (problem, image, option_a,
        option_b, option_c, option_d,
        right_option, analysis, teach_link,
        grade, create_time, modified_time,
        is_del, cid)
        values (#{problem,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{optionA,jdbcType=VARCHAR},
        #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR},
        #{rightOption,jdbcType=CHAR}, #{analysis,jdbcType=VARCHAR}, #{teachLink,jdbcType=VARCHAR},
        #{grade,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP},
        #{isDel,jdbcType=BIT}, #{cid,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.Question">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="problem != null">
                problem,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="optionA != null">
                option_a,
            </if>
            <if test="optionB != null">
                option_b,
            </if>
            <if test="optionC != null">
                option_c,
            </if>
            <if test="optionD != null">
                option_d,
            </if>
            <if test="rightOption != null">
                right_option,
            </if>
            <if test="analysis != null">
                analysis,
            </if>
            <if test="teachLink != null">
                teach_link,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="cid != null">
                cid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="problem != null">
                #{problem,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="rightOption != null">
                #{rightOption,jdbcType=CHAR},
            </if>
            <if test="analysis != null">
                #{analysis,jdbcType=VARCHAR},
            </if>
            <if test="teachLink != null">
                #{teachLink,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.Question">
        update question
        <set>
            <if test="problem != null">
                problem = #{problem,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                option_a = #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                option_b = #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                option_c = #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                option_d = #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="rightOption != null">
                right_option = #{rightOption,jdbcType=CHAR},
            </if>
            <if test="analysis != null">
                analysis = #{analysis,jdbcType=VARCHAR},
            </if>
            <if test="teachLink != null">
                teach_link = #{teachLink,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.Question">
    update question
    set problem = #{problem,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      right_option = #{rightOption,jdbcType=CHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      teach_link = #{teachLink,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
        cid = #{cid,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>