<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Record">
    <constructor>
        <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <arg column="answer_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <arg column="right_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <arg column="uid" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
      id, status, answer_number, right_number, create_time, modified_time, is_del, uid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
    from record
        where id = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from record
        where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.qdgxy.tr.po.Record">
      insert into record (id, status, answer_number,
      right_number, create_time, modified_time,
      is_del, uid)
      values (#{id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{answerNumber,jdbcType=INTEGER},
      #{rightNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP},
      #{isDel,jdbcType=BIT}, #{uid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
      <if test="status != null">
        status,
      </if>
      <if test="answerNumber != null">
        answer_number,
      </if>
      <if test="rightNumber != null">
        right_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
        <if test="modifiedTime != null">
            modified_time,
        </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=BIGINT},
        </if>
      <if test="status != null">
          #{status,jdbcType=INTEGER},
      </if>
      <if test="answerNumber != null">
        #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="rightNumber != null">
        #{rightNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
        <if test="modifiedTime != null">
            #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="uid != null">
          #{uid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.Record">
    update record
    <set>
      <if test="status != null">
          status = #{status,jdbcType=INTEGER},
      </if>
      <if test="answerNumber != null">
        answer_number = #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="rightNumber != null">
        right_number = #{rightNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        <if test="modifiedTime != null">
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="uid != null">
          uid = #{uid,jdbcType=BIGINT},
      </if>
    </set>
      where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.Record">
    update record
      set status = #{status,jdbcType=INTEGER},
      answer_number = #{answerNumber,jdbcType=INTEGER},
      right_number = #{rightNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      uid = #{uid,jdbcType=BIGINT}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>