<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Record">
    <constructor>
      <idArg column="rid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="answer_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="right_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    rid, status, answer_number, right_number, create_time, is_del, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.qdgxy.tr.po.Record">
    <selectKey keyProperty="rid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into record (status, answer_number, right_number, 
      create_time, is_del, uid
      )
    values (#{status,jdbcType=BIT}, #{answerNumber,jdbcType=INTEGER}, #{rightNumber,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT}, #{uid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.Record">
    <selectKey keyProperty="rid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="answerNumber != null">
        answer_number,
      </if>
      <if test="rightNumber != null">
        right_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="answerNumber != null">
        #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="rightNumber != null">
        #{rightNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.Record">
    update record
    <set>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="answerNumber != null">
        answer_number = #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="rightNumber != null">
        right_number = #{rightNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.Record">
    update record
    set status = #{status,jdbcType=BIT},
      answer_number = #{answerNumber,jdbcType=INTEGER},
      right_number = #{rightNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      uid = #{uid,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>