<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.RecordItemMapper">
  <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.RecordItem">
    <constructor>
        <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
      <arg column="qid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="answer" javaType="java.lang.String" jdbcType="CHAR" />
        <arg column="right_option" javaType="java.lang.String" jdbcType="CHAR"/>
        <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT" />
        <arg column="cid" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <arg column="rid" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
      id, qid, answer, right_option, create_time, modified_time, is_del, cid, rid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_item
        where id = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from record_item
        where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.qdgxy.tr.po.RecordItem">
      insert into record_item (id, qid, answer,
      right_option, create_time, modified_time, 
      is_del, cid, rid)
      values (#{id,jdbcType=BIGINT}, #{qid,jdbcType=INTEGER}, #{answer,jdbcType=CHAR},
      #{rightOption,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP},
      #{isDel,jdbcType=BIT}, #{cid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.RecordItem">
    insert into record_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
      <if test="qid != null">
        qid,
      </if>
      <if test="answer != null">
        answer,
      </if>
        <if test="rightOption != null">
            right_option,
      </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="modifiedTime != null">
            modified_time,
        </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=BIGINT},
        </if>
      <if test="qid != null">
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=CHAR},
      </if>
        <if test="rightOption != null">
            #{rightOption,jdbcType=CHAR},
      </if>
        <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="modifiedTime != null">
            #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="cid != null">
          #{cid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
          #{rid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.RecordItem">
    update record_item
    <set>
      <if test="qid != null">
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=CHAR},
      </if>
        <if test="rightOption != null">
            right_option = #{rightOption,jdbcType=CHAR},
      </if>
        <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="modifiedTime != null">
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="cid != null">
          cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
          rid = #{rid,jdbcType=BIGINT},
      </if>
    </set>
      where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.RecordItem">
    update record_item
    set qid = #{qid,jdbcType=INTEGER},
      answer = #{answer,jdbcType=CHAR},
      right_option = #{rightOption,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      cid = #{cid,jdbcType=BIGINT},
      rid = #{rid,jdbcType=BIGINT}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>