<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Subject">
    <constructor>
        <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
      <arg column="sname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
      <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
      id, sname, description, create_time, modified_time, is_del
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
        where id = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from subject
        where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.qdgxy.tr.po.Subject">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
          SELECT LAST_INSERT_ID()
      </selectKey>
      insert into subject (sname, description, create_time,
      modified_time, is_del)
      values (#{sname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifiedTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.Subject">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
          SELECT LAST_INSERT_ID()
      </selectKey>
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sname != null">
        sname,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
        <if test="modifiedTime != null">
            modified_time,
        </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
        <if test="modifiedTime != null">
            #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.Subject">
    update subject
    <set>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        <if test="modifiedTime != null">
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
        </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
      where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.Subject">
    update subject
    set sname = #{sname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>