<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Record">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="answer_number" property="answerNumber"/>
        <result column="right_number" property="rightNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="is_del" property="isDel"/>
        <result column="uid" property="uid"/>
    </resultMap>

</mapper>
