html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption,
figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

body {
    font: 12px 'Arial', 'Microsoft YaHei';
}

ol, ul, li {
    list-style: none;
}

fieldset, img {
    border: 0;
}

a {
    outline: none;
    blr: expression(this.onFocus=this.blur());
    color: #333;
}

/*  颜色调整 */
/*a:hover{
    color:#39A4DC;
}*/

del, ins, a {
    text-decoration: none;
}

em, i, s {
    font-style: normal;
}

input, button,
textarea, select {
    outline: none;
}

textarea {
    resize: none;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

::selection {
    background: #39A4DC;
    color: #FFF;
}

::-moz-selection {
    background: #39A4DC;
    color: #FFF;
}

.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
    content: '\20';
}

.clearfix {
    *display: table;
    *zoom: 1;
}

.cb {
    clear: both;
    height: 0;
    overflow: hidden;
}

.fl {
    display: inline;
    float: left;
}

.fr {
    display: inline;
    float: right;
}

.none {
    display: none;
}

.hidden {
    overflow: hidden;
}

.clear {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    font-weight: bold;
}

.fontYahei {
    font-family: "Microsoft Yahei";
}

.wenti_fk {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 62px;
    height: 62px;
    z-index: 1000;
    background: url(../images/wenti_fk.png) no-repeat;
    display: block;
}

.wenti_fk:hover {
    background: url(../images/wenti_fk_hover.png) no-repeat;
}

.survey {
    position: fixed;
    bottom: 102px;
    right: 20px;
    width: 62px;
    height: 62px;
    z-index: 1000;
    background: url(../images/survey.png) no-repeat;
    display: block;
}

.survey:hover {
    background: url(../images/survey_hover.png) no-repeat;
}

/*行测首页*/
.span8 {
    margin-top: 10px;
}

.adv_mentyet {
    height: 230px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -621px;
}

.adv_ment {
    display: block;
    width: 120px;
    height: 210px;
}

.adv_close {
    display: block;
    width: 120px;
    background: #fff;
    height: 20px;
    line-height: 20px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
