<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdgxy.tr.mapper.ChapterMapper">
    <resultMap id="BaseResultMap" type="cn.qdgxy.tr.po.Chapter">
        <constructor>
            <idArg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="cname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="teach_link" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="is_del" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="sid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    cid, cname, description, teach_link, create_time, is_del, sid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chapter
        where cid = #{cid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chapter
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.qdgxy.tr.po.Chapter">
        <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into chapter (cname, description, teach_link,
        create_time, is_del, sid
        )
        values (#{cname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{teachLink,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BIT}, #{sid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.qdgxy.tr.po.Chapter">
        <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null">
                cname,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="teachLink != null">
                teach_link,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="sid != null">
                sid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="teachLink != null">
                #{teachLink,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.qdgxy.tr.po.Chapter">
        update chapter
        <set>
            <if test="cname != null">
                cname = #{cname,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="teachLink != null">
                teach_link = #{teachLink,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=INTEGER},
            </if>
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.qdgxy.tr.po.Chapter">
    update chapter
    set cname = #{cname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      teach_link = #{teachLink,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT},
      sid = #{sid,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>