<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置注解需要扫描的包 -->
    <context:component-scan base-package="cn.qdgxy.mybatis"/>


    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:dbconfig.properties"/>
    <!-- 数据库连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- 初始化连接:连接池启动时创建的初始化连接数量-->
        <property name="initialSize" value="${dhcp.initialSize}"/>
        <!-- 最大活动连接:连接池在同一时间能够分配的最大活动连接的数量-->
        <property name="maxActive" value="${dhcp.maxActive}"/>
        <!--最大空闲连接:连接池中容许保持空闲状态的最大连接数量,超过的空闲连接将被释放-->
        <property name="maxIdle" value="${dhcp.maxIdle}"/>
        <!-- 最小空闲连接数:低于这个数量会被创建新的连接 -->
        <property name="minIdle" value="${dhcp.minIdle}"/>
        <!--最大等待时间，当没有可用连接时，连接池等待连接释放的最大时间，超过该时间限制会抛出异常，如果设置-1表示无限等待（默认为无限，调整为60000ms，避免因线程池不够用，而导致请求被无限制挂起）-->
        <property name="maxWait" value="${dhcp.maxWait}"/>
    </bean>

    <!-- sqlSessionFactory 整合Mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:Mybatis/SqlMapConfig.xml"/>
    </bean>

    <!-- 配置DAO层的sqlSessionTemplate -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>


    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入sessionFactory -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启注解的事务管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <!-- 配置mapper：麻烦 -->
    <!--<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        &lt;!&ndash; MapperFactoryBean：用于生成mapper代理对象，指定接口类型 &ndash;&gt;
        <property name="mapperInterface" value="cn.qdgxy.mybatis.mapper.UserMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>-->

    <!-- 扫描mapper：方便
	    MapperScannerConfigurer：mapper的扫描器，将包下边的mapper接口自动创建代理对象，
	    自动创建到spring容器中，bean的id是mapper的类名（首字母小写） -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 配置扫描包的路径
             如果要扫描多个包，中间使用半角逗号分隔  -->
        <property name="basePackage" value="cn.qdgxy.mybatis.mapper"/>
        <!-- 使用sqlSessionFactoryBeanName -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>